.DS_Store
code/.Rhistory
results/stanfits/
results/.DS_Store
docs/~$erra_host_density_outline.docx
code/occupancy_summary_files/

docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.bbl
docs/*.blg
docs/*.xdv
docs/~$st_density_sierra_manuscript.docx

code/*.rds
code/*.nb.html
code/temp.R
code/.ipynb_checkpoints

results/*.rds
results/test_plots/

docs/figures_and_tables/*.aux
docs/figures_and_tables/*.fdb_latexmk
docs/figures_and_tables/*.fls
docs/figures_and_tables/*.log
docs/figures_and_tables/*.out
docs/figures_and_tables/*.synctex.gz
docs/figures_and_tables/*.bbl
docs/figures_and_tables/*.blg
docs/figures_and_tables/*.xdv


data/environmental_covariates/snowpack_data/cdec_data_from_dozier/

docs/submission

